<ion-header>

  <ion-navbar>
    <ion-title>Hi Anon! Please provide additional details while you wait...</ion-title>
    <ion-buttons end>
      <button ion-button>Skip</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="inqForm" (ngSubmit)="logForm2()">
    <ion-grid>
      <!-- <ion-item-group> -->
      <ion-item-divider color="light">Additional Education Details</ion-item-divider>
      <div formGroupName="education">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Qualification</ion-label>
              <ion-select formControlName="educationQualification">
                <ion-option *ngFor="let qualification of hQualifications" [value]=qualification.key>{{qualification.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Stream</ion-label>
              <ion-select formControlName="stream">
                <ion-option *ngFor="let stream of streams" [value]=stream.key>{{stream.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Year of Completion</ion-label>
              <ion-input type="number" formControlName="year"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Institute</ion-label>
              <ion-input type="text" formControlName="instituteName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Education Status</ion-label>
              <ion-select formControlName="status">
                <ion-option *ngFor="let status of eduStatus" [value]=status.key>{{status.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Education Type</ion-label>
              <ion-select formControlName="type">
                <ion-option *ngFor="let type of eduType" [value]=type.key>{{type.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Marks</ion-label>
              <ion-input type="number" formControlName="aggregateMarks"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Marking Scheme</ion-label>
              <ion-select formControlName="markScheme">
                <ion-option *ngFor="let scheme of markScheme" [value]=scheme.key>{{scheme.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <!-- </ion-item-group> -->
      <!-- <ion-item-group> -->
      <ion-item-divider color="light">Guardian's Details</ion-item-divider>
      <div formGroupName="guardian">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Relation</ion-label>
              <ion-select type="text" formControlName="relation">
                <ion-option *ngFor="let relation of guardianRelation" [value]=relation.key>{{relation.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Phone Number</ion-label>
              <ion-input type="number" formControlName="phoneNumber"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Alternate Number</ion-label>
              <!-- <ion-input type="number" formControlName="alternatePhone"></ion-input> -->
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Occupation</ion-label>
              <ion-select type="text" formControlName="occupation">
                <ion-option *ngFor="let occupation of guardianOccupation" [value]=occupation.key>{{occupation.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <!-- </ion-item-group> -->
      <button ion-button full type="submit">Submit</button>
    </ion-grid>
  </form>
</ion-content>